.battleArena{
    height:500px;
    margin-top: 20px;
    /*background-color: black;*/
}
img{
    height:300px;
    width:300px;
    /*border:1px solid black;*/
}
#userTitle{
    text-align:center;
}
#comTitle{
    text-align:center;
}